/* banner.css */

/* .bg {
    background-size: cover;
    background-position: center;
    position: relative;
  } */
  
  .container {
    /* max-width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  
  @media (max-width:1170px) {
    .container {
      max-width: 920px;
    }
  }
  
   @media (max-width: 802px) {
    .container {
      min-width: 560px;
    }
  } 
  
  