.svgIc{
    background-color:#f8f9fa;
   border-radius: 50%;
   border: none;
    padding:21px;
    width:80px;
    height:79px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.pd{
    padding: 16px;
}
.mg{
    margin-top: 18px;
}
h5{
    font-weight: 750;
}


